<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="golden.mapper.FindingsMapper" >
  <resultMap id="BaseResultMap" type="golden.model.Findings" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
  </resultMap>

 <resultMap id="listMap" type="golden.tempmodel.title_list_1" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
  </resultMap>
 
  
  <sql id="Base_Column_List" >
    id, type, content, title, date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="golden.model.Findings" >
    select 
    <include refid="Base_Column_List" />
    from findings
    where id = #{id} and type = #{type}
  </select>
  
   <select id="select_title_list_1" resultMap="listMap" parameterType="String" >
    select 
    id,  content, title, date
    from findings
    where type = #{type,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from findings
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="golden.model.Findings" >
    insert into findings (id, type, content, 
      title, date)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="golden.model.Findings" >
    insert into findings
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="date != null" >
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="golden.model.Findings" >
    update findings
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="golden.model.Findings" >
    update findings
    set type = #{type,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER} and type = #{type,jdbcType=VARCHAR}
  </update>
</mapper>