<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="golden.mapper.ResearcherMapper" >
  <resultMap id="BaseResultMap" type="golden.model.Researcher" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="titles" property="titles" jdbcType="VARCHAR" />
    <result column="image_path" property="imagePath" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
  </resultMap>
  
    <resultMap id="researcher_listMap" type="golden.tempmodel.researcher_list" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="titles" property="titles" jdbcType="VARCHAR" />
    <result column="image_path" property="imagePath" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, titles, image_path, content, date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from researcher
    where id = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="select_researcher_list" resultMap="researcher_listMap"  >
    select 
    id,name,titles,image_path,date
    from researcher
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from researcher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="golden.model.Researcher" >
    insert into researcher (id, name, titles, 
      image_path, content, date
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{titles,jdbcType=VARCHAR}, 
      #{imagePath,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="golden.model.Researcher" >
    insert into researcher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="titles != null" >
        titles,
      </if>
      <if test="imagePath != null" >
        image_path,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="date != null" >
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="titles != null" >
        #{titles,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null" >
        #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="golden.model.Researcher" >
    update researcher
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="titles != null" >
        titles = #{titles,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null" >
        image_path = #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="golden.model.Researcher" >
    update researcher
    set name = #{name,jdbcType=VARCHAR},
      titles = #{titles,jdbcType=VARCHAR},
      image_path = #{imagePath,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>